<!-- ****** Quick View Modal Area Start ****** -->
<div class="modal fade" *ngIf="productPopUp" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img *ngIf="productPopUp.images" src="{{productPopUp.images[0].image}}" alt="{{productPopUp.name}}">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">{{productPopUp.name}}</h4>
                                    <h5 class="price">{{productPopUp.price | currency:'EGP '}}</h5>
                                    <p>{{productPopUp.details}}</p>
                                    <!-- <a [routerLink]="['/productdetails',productPopUp.id]">View Full Product Details</a> -->
                                </div>
                                <!-- Add to Cart Form -->
                                <form class="cart" method="post">
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

                                        <input type="number" #pquntty class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">

                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                    <button type="submit" (click)="addToCart(productPopUp.id ,pquntty.value )" name="addtocart" value="5" class="cart-submit">Add to cart</button>
                                    <!-- Wishlist -->
                                    <div class="modal_pro_wishlist">
                                        <a><i class="fas fa-heart"></i></a>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <select  [(ngModel)]="productID" ngDefaultControl >
    <option *ngFor="let product of productList" [value]="product.id">{{product.name}}</option>
  </select>
<app-poduct-details-popup [productPopupID]="productID"></app-poduct-details-popup> -->
<!-- ****** Quick View Modal Area End ****** -->

<section class="shop_grid_area section_padding_100 ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area" data-aos="fade-right" data-aos-duration="1100" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <div class="wrapper">
                        <!-- Sidebar -->
                        <nav id="sidebar">
                            <div class="sidebar-header text-center" style="background-color: rgb(236, 236, 236);">
                                <h3>Filters</h3>
                            </div>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title" class="text-center">
                                            <a class="btn karl-checkout-btn" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Category List <i class="fas fa-caret-down"></i></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <ul>
                                            <li *ngFor="let cat of categoryList">
                                                <a (click)="showProductsbyID(cat.id)" style="color: black;">{{cat.title}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="widget price mt-50">
                        <h6 class="widget-title mb-20">Filter by Price</h6><br>
                        <div class="widget-desc">

                            <label for="minpricefilter">Min price</label>
                            <p>{{minprice}}</p>
                            <input #filterminprice (change)="minPrice(filterminprice.value)" [(ngModel)]="minprice" type="range" max="10000" min="0" step="1" value="0" id="minpricefilter">

                            <label for="maxpricefilter">Max price</label>
                            <p>{{maxprice}}</p>
                            <input #filtermaxprice (change)="maxPrice(filtermaxprice.value)" [(ngModel)]="maxprice" type="range" max="10000" min="0" step="1" value="1000" id="maxpricefilter">
                            <!-- <button class="btn karl-checkout-btn" (click)="getproductsbyprice(filterminprice.value , filtermaxprice.value)">Price filter</button> -->
                        </div>
                    </div>

                    <div class="widget color mb-70 d-block">
                        <br>
                        <h6 class="widget-title mb-30">Filter by Gender</h6>
                        <div class="widget-desc">
                            <ul class="justify-content-between">
                                <input #pmale (change)="getproductsbygender(pmale.value)" type="radio" name="genderfilter" value="m">Male
                                <input #pfemale (change)="getproductsbygender(pfemale.value)" type="radio" name="genderfilter" value="f">Female<br>
                                <input #pboth (change)="getproductsbygender(pboth.value)" type="radio" name="genderfilter" value="b"> Both<br>
                            </ul>
                        </div>
                    </div>
                    <div class="widget size d-block">
                        <br>
                        <h6 class="widget-title">Filter by Age</h6><br>
                        <div class="widget-desc">

                            <label for="minrangefilter">Min Age</label>
                            <p>{{minrange}}</p>
                            <input #filterminage (change)="minAge(filterminage.value)" [(ngModel)]="minrange" type="range" max="100" min="0" step="1" value="10" id="minrangefilter">

                            <label for="maxrangefilter">Max Age</label>
                            <p>{{maxrange}}</p>
                            <input #filtermaxage (change)="maxAge(filtermaxage.value)" [(ngModel)]="maxrange" type="range" max="100" min="0" step="1" value="70" id="maxrangefilter">
                            <!-- <button class="btn karl-checkout-btn" (click)="getproductsbyage(filterminage.value , filtermaxage.value)">age filter</button> -->
                        </div>
                    </div>
                    <div class="widget size d-block">
                        <br>
                        <h6 class="widget-title">Occassion</h6><br>
                        <div class="widget-desc">
                            <select #poccassions (change)="occassionSearch()" [(ngModel)]="filteredoccassions" [ngModelOptions]="{standalone: true}" class="form-control" id="occassion">
                                <option *ngFor="let occ of occassions" [value]="occ.id" >{{occ.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="widget size d-block">
                        <br>
                        <h6 class="widget-title">Relationship</h6><br>
                        <div class="widget-desc">
                            <select #prelationship (change)="relationSearch()" [(ngModel)]="filteredrelations" [ngModelOptions]="{standalone: true}" class="form-control" id="relationship">
                                <option *ngFor="let rel of relationships"  [value]="rel.id" >{{rel.name}}</option>
                            </select>
                        </div>
                    </div>
                    <button (click)="resetFilters()" class="btn karl-checkout-btn mt-2 bg-dark">Reset Filters</button>
                    <button (click)=" searchNow()" class="btn karl-checkout-btn mt-2"> Search</button>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area d-block p-4 m-4 text-center">
                    <div class="row">
                        <!-- Single gallery Item -->
                        <div *ngFor="let product of productList " class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig mb-4" data-wow-delay="0.2s" data-aos="fade-up" data-aos-duration="1300">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{product.images[0].image}}" style="width: 150px; height:150px;" alt="{{product.name}}">
                                <div class="product-quicview">
                                    <a data-toggle="modal" (click)="popUpProduct(product.id)" data-target="#quickview"><i class="far fa-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">{{product.price | currency:'EGP '}}</h4>
                                <p>{{product.name}}</p>
                                <!-- More Details -->
                                <a class="add-to-cart-btn" [routerLink]="['/productdetails',product.id]">More Details</a>
                                <!-- Add to Cart -->
                                <a class="add-to-cart-btn" (click)="addToCart(product.id)">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button (click)="showless()" class="btn btn-light m-2"><i class="fas fa-arrow-circle-left fa-2x"></i></button>
                    <button (click)="showMore()" class="btn btn-light"><i class="fas fa-arrow-circle-right fa-2x"></i></button>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- <select  [(ngModel)]="productID" >
    <option *ngFor="let product of productList" [value]="product.id">{{product.name}}</option>
  </select>

 
<app-poduct-details-popup [productPopupID]="productID"></app-poduct-details-popup> -->