.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: rgb(37,42,51);
    height: 40px;
    width: 150px;
    color:white;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-small-rd{
    background-color: rgb(210,57,59);
}
.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
    ////////////////////////////////////////////////////
    
    
////////////////////Basic Style//////////////////////
* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(37,42,51);
    line-height: 1.2;
    font-weight: 700;
}

p {
    color: rgb(37,42,51);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
}

a:focus {
    outline: 0 solid;
}

a,
a:hover,
a:focus {
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: none;
    color: rgb(37,42,51);
    font-weight: 400;
}

ul,
ol {
    margin: 0;
}

ol li,
ul li {
    list-style: outside none none;
}




img {
    height: auto;
    max-width: 100%;
}

.background-overlay,
.background-overlay-white {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
}

.background-overlay:before,
.background-overlay-white:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.background-overlay:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.background-overlay-white:before {
    background-color: rgba(255, 255, 255, 0.9);
}



.mt-100 {
    margin-top: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-100 {
    margin-bottom: 100px;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #fff;
}

.bg-dark {
    background-color: #000;
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-dark3 {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.bg-dark2 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.line,
.line-mtb15 {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
}

.line-mtb15 {
    margin: 15px 0;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

#scrollUp {
    background-color: rgb(210,57,59);
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
}

.section_padding_100 {
    padding: 100px 0;
}

.section_padding_100_0 {
    padding: 100px 0 0;
}

.section_padding_0_100 {
    padding: 0 0 100px;
}

.section_heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.section_heading h2 {
    font-size: 48px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.section_heading.text-left {
    text-align: left !important;
}

.karl-btn {
    display: inline-block;
    min-width: 170px;
    height: 55px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 2px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 49px;
}

.karl-btn:hover,
.karl-btn:focus {
    font-weight: 700;
    color: #fff;
    background-color: rgb(37,42,51);
    border-color: rgb(37,42,51) ;
}
/////////////////////End Of Basic////////////////////////////

//////////////////////////////////////////////////////
.single_slide {
    background-position: center top;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.welcome_slide_text {
    position: relative;
    z-index: 1;
}

.welcome_slide_text > h2,
.single_catagory_area h2 {
    font-size: 92px;
    letter-spacing: 0;
    margin-left: -5px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.welcome_slide_text h6,
.single_catagory_area h6 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}

.welcome_slides.owl-carousel .owl-dots {
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 5;
    width: 30px;
    background-color: transparent;
    height: auto;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.welcome_slides.owl-carousel .owl-dot {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    height: 9px;
    margin: 15px 10px;
    width: 9px;
}

.welcome_slides.owl-carousel .owl-dot.active {
    background-color: rgb(210,57,59);
    border-color: rgb(210,57,59);
}
//////////////////////////////


/* --------------------------
:: 10.0 Top Catagory Area CSS
-------------------------- */

.single_catagory_area {
    padding: 150px 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
}

.single_catagory_area:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(210,57,59);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -8;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_catagory_area:hover:after {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.single_catagory_area h6 {
    text-transform: uppercase;
}

.catagory-content {
    width: 55%;
}

/////////////////////////////////////////
//////////////// Modal  ////////////////////////

#quickview button.close {
    box-shadow: none;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 10px;
    z-index: 9;
}
.fade{
 margin-left:auto;
 margin-right:auto;
 width:50%
}

.quickview_body {
    overflow: hidden;
    text-align: center;
}

.quickview_pro_img {
    border: 1px solid #f6f6f6;
    position: relative;
    width: 100%;
    z-index: 1;
}

.quickview_pro_img .hover_img {
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: -30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.quickview_pro_img:hover .hover_img {
    top: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.quickview_pro_des .title {
    text-transform: capitalize;
}

.quickview_pro_des {
    padding: 30px 0;
}

.quickview_pro_des .price > span {
    color: #888;
    font-size: 14px;
    text-decoration: line-through;
}

.quickview_pro_des > p {
    font-size: 13px;
}

.quickview_pro_des > a {
    color: #19B5FE;
    font-size: 13px;
    text-decoration: underline;
}

.quickview_body .quantity > input {
    -moz-appearance: textfield;
    border: 1px solid #f6f6f6;
    height: 35px;
    text-align: center;
    width: 40px;
    font-size: 13px;
}

.quickview_body .quantity {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quickview_body .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quickview_body .qty-plus,
.quickview_body .qty-minus {
    background-color: transparent;
    border: 1px solid #f6f6f6;
    color: #000;
    cursor: pointer;
    height: 35px;
    text-align: center;
    width: 22px;
}

.quickview_body .qty-plus {
    border-left: 0 solid transparent;
}

.quickview_body .qty-minus {
    border-right: 0 solid transparent;
}

.quickview_body .cart-submit {
    background-color: rgb(210,57,59);
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 35px;
    margin-left: 15px;
    width: 120px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.quickview_body .cart-submit:hover {
    background-color: rgb(210,57,59);
    color: #fff;
}

.quickview_body .qty-minus i,
.quickview_body .qty-plus i {
    color: #888;
    font-size: 10px;
    line-height: 33px;
}

.quickview_body .modal_pro_wishlist > a,
.quickview_body .modal_pro_compare > a {
    background-color: rgb(210,57,59);
    color: #fff;
    display: block;
    height: 35px;
    margin: 0 15px;
    text-align: center;
    width: 35px;
    font-size: 22px;
}

.quickview_body .modal_pro_wishlist > a:hover,
.quickview_body .modal_pro_compare > a:hover {
    background-color: #000;
    color: #fff;
}

.quickview_body .modal_pro_compare > a {
    background-color: rgb(37,42,51);
    margin: 0;
}

.quickview_body .modal_pro_wishlist > a i,
.quickview_body .modal_pro_compare > a i {
    line-height: 35px;
}

.quickview_body .share_wf > p {
    font-size: 13px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.quickview_body .share_wf ._icon > a {
    color: #888;
    font-size: 14px;
    margin-right: 5px;
}

.quickview_body .share_wf ._icon > a:hover {
    color: #000;
}

.quickview_body .top_seller_product_rating > i {
    color: #ff9800;
    font-size: 13px;
}


/* ----------------------------
::  New Deals Area Start
---------------------------- */


.new_deals{
    margin-left:auto;
    margin-right:auto;
    width:50%
}

.portfolio-menu > .btn {
    font-size: 14px;
    font-weight: 700;
    color: rgb(37,42,51);
    background-color: transparent;
    padding: 0 15px;
    text-transform: uppercase;
}

.portfolio-menu > .btn:hover {
    color: rgb(210,57,59);
    box-shadow: none;
}

.single_gallery_item {
    margin-bottom: 50px;
    overflow: hidden
}

.product-img {
    position: relative;
    z-index: 1;
    overflow: hidden
}

.product-img > img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_item:hover .product-img > img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.product-img .product-quicview {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(23, 24, 24, 0.6);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.product-img:hover .product-quicview {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.product-img .product-quicview > a {
    width: 72px;
    height: 72px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 36px;
    line-height: 72px;
}

.product-img .product-quicview > a:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.product-description {
    margin-top: 20px;
}

.product-description h4 {
    font-weight: 400;
    color: rgb(210,57,59);
    margin-bottom: 5px;
    display: block;
}

.product-description p {
    font-size: 20px;
    margin: 0;
    color:rgb(37,42,51)
}

.product-description .add-to-cart-btn {
    margin-top: 50px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(210,57,59);
    display: block;
}

.product-description .add-to-cart-btn:hover {
    color: rgb(210,57,59);
}





