body{
    background-image: url('../../../assets/images/forget.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
.empty{
    margin-top:50px;
}

.container{
    margin-top:100px;
 
}
