<section>
    <div class="container">
        <div class="row">
            <div class="card formcard col-lg-6 col-sm-12" width="40rem">
                <header class="headerform"> Hdya</header>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary sign_with_google" type="button">Sign in with Google</button>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"> <i class="fa fa-user"></i></span>
                                <input #first_name type="text" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="text" #last_name class="form-control" placeholder="Lastname" aria-label="lastname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                        <input type="text" #username class="form-control" placeholder="username" aria-label="username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                        <input type="text" #email class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                        <input type="password" #password class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                        <input #re_password type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i> </span>
                        <input #mobile type="text" class="form-control" placeholder="Mobile Phone" aria-label="Mobile Phone" aria-describedby="basic-addon1">
                    </div>

                    <!-- <button type="button" class="btn btn-primary btn-sm sign_in">Sign In</button> -->
                    <div class="d-grid gap-2">
                        <button (click)="UserRegester(username.value,email.value, password.value ,re_password.value, first_name.value , last_name.value  , mobile.value)" class="btn btn-primary sign_in" type="button">Sign In </button>
                    </div>

                    <div class="to_login">
                        Already have an account? <a routerLink="/login"> Log In</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-sm-12"></div> -->
        </div>
    </div>
    <!-- <div style="clear: both;"></div> -->
</section>