
body {
    background-image: url(../../../assets/images/register.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.formcard {
    background-color: whitesmoke;
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 20px;
    opacity: .9;
    float: left;
    position: relative;
    left: 30px;
    margin-top: 70px;
    line-height: 2;
}

.headerform {
    color: rgb(210, 57, 59);
    margin: auto;
    font-size: 50px;
}

.sign_in,
.sign_with_google {
    font-size: 20px;
    background-color: rgb(37, 42, 51);
    margin: 20px 0;
}

.sign_in:hover,
.sign_with_google:hover {
    background-color: rgb(210, 57, 59);
    ;
}

.to_login {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.to_login a {
    text-decoration: none;
}

.to_login a:hover {
    color: rgb(210, 57, 59);
}

.mb-3 {
    margin-bottom: .6rem!important;
}

.mb-3 i {
    font-size: 20px;
}

.form-control {
    padding: 10px;
}