<!-- <div class="container border border-danger">
    <div class="row">

        <div class="col-sm-12 d-flex justify-content-center">

            <div class="style_card rounded text-center" style="width: 18rem;">
                <img [src]="url" class="img-top " style="border-radius: 60%;width: 50%;margin: auto;" alt="profile image">

                <div *ngIf="isdisplayed">
                    <input type="file" (change)="selectfile($event)">

                </div>

                <div class="card-body">
                    <input type="button" class="btn btn-primary change_image" (click)="toggledispayed()" value="Change your profile image">

                </div>
            </div>

        </div>
        <div class="mb-3 row">
            <label for="inputFirstname" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFirstname">
            </div>
        </div>


        <div class="mb-3 row">
            <label for="inputLastname" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputLastname">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputEmail">
            </div>
        </div>


        <div class="mb-3 row">
            <label for="inputAdress" class="col-sm-2 col-form-label">Adress</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputAdress">
            </div>
        </div>


        <div class="mb-3 row">
            <label for="inputMobile" class="col-sm-2 col-form-label">Mobile</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputMobile">
            </div>
        </div>

        <div class="changed text-center">
            <button type="submit" class="btn btn-primary mb-3 save_change ">Save Changes</button>
        </div>
    </div>
</div> -->






<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="profile-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input (change)="changeavatar($event)" type="file" name="file" />
                </div>
                <br><br>
                <h4 style="color: rgb(37,42,51);">Noor Shalaby</h4>
                <!-- <br><br><h4 style="color: rgb(37,42,51);">{{myprofile.username}}</h4> -->
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="{{myprofile.first_name}}" value=""></div><br>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" placeholder="{{myprofile.last_name}}" value=""></div><br>
                    <div class="col-md-6"><label class="labels">Username</label><input type="text" class="form-control" value="" placeholder="{{myprofile.username}}"></div><br>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text" class="form-control" placeholder="{{myprofile.mobile}}" value=""></div><br>
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="{{myprofile.address}}" value=""></div><br>
                    <div class="col-md-12"><label class="labels">Email </label><input type="email" class="form-control" placeholder="{{myprofile.email}}" value=""></div><br>
                    <div class="col-md-12"><label class="labels">Birthday</label><input type="date" class="form-control" placeholder="{{myprofile.birth_date}}" value=""></div><br>
                </div>
                <div class="mt-5 text-center ">
                    <button class="btn  profile-button" (click)="update()" type="button">Save Profile</button>
                </div>
            </div>
        </div>

    </div>
</div>