.container {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #eee4e4;
}

.mb-3 {
    font-size: 20px;
}

.form-control {
    width: inherit;
}

.style_card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.save_change {
    background-color: rgb(210, 57, 59);
    // float: right;
}