<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
<div class="container main">
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Wooden Products</a></li>
                        <li class="breadcrumb-item active">{{product.name}}</li>
                    </ol> -->
                    <!-- btn -->
                    <a [routerLink]="['/search']" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->


    <section class="single_product_details_area section_padding_0_100" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                <li *ngFor="let image of productdetails.images" class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{image.image}});">
                                </li>
                                <!-- <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(../../../assets/images/hand15.jpg);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(../../../assets/images/hand16.jpg);">
                                </li> -->
                            </ol>

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="../../../assets/images/hand14.jpg">
                                        roducts/?page=3                       <img class="d-block w-100" src="../../../assets/images/hand14.jpg" alt="First slide">
                                    </a>
                                </div>

                                <div *ngFor="let image of productdetails.images" class="carousel-item">
                                    <a class="gallery_img" href={{image.image}}>
                                        <img class="d-block w-100" src={{image.image}} alt="Second slide">
                                    </a>
                                </div>
                                <!-- <div class="carousel-item">
                                    <a class="gallery_img" href="../../../assets/images/hand16.jpg">
                                        <img class="d-block w-100" src="../../../assets/images/hand16.jpg" alt="Third slide">
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="single_product_desc pl-5">

                        <h4 class="title"><a href="#">{{productdetails.name}} </a></h4>
                        <h4 class="price">{{ productdetails.price | currency:'EGP ' }}</h4>

                        <p class="available">Available: <span class="text-muted">In Stock</span></p>

                        <!-- <div class="single_product_ratings mb-15">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div> -->

                        <div class="widget size mb-50">
                            <h6 class="widget-title m-2">Age</h6>
                            <div class="widget-desc">
                                <a class="p-2 m-2" routerLink="#">{{productdetails.age_from}}-{{productdetails.age_to}}</a>
                            </div>
                        </div>
                        <div class="widget size mb-50">
                            <h6 class="widget-title m-2">Gender : {{productdetails.gender}}</h6>
                        </div>
                        <div class="widget size mb-50">
                            <h6 class="widget-title m-2">occassion :
                                <ul>
                                    <li *ngFor="let occassion of filterdoccassionList">
                                        {{occassion.name}}
                                    </li>
                                </ul>
                            </h6>
                        </div>

                        <!-- Add to Cart Form -->
                        <form class="cart clearfix mb-50 d-flex" method="post">
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                            <a (click)="addToCart(productdetails.id)" class="btn cart-submit d-block p-2">Add to cart</a>
                        </form>

                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Information</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>{{productdetails.details}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">shipping &amp; Returns</a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Shipped To Any Governorate</p>
                                        <p>ِAccept For Return Within a Maximum Period of 15 Days</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

    <!-- ****** Quick View Modal Area Start ****** -->
    <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
                <div class="modal-body">
                    <div class="quickview_body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="quickview_pro_img">
                                        <img src="../../../assets/images/hand14.jpg" alt="hand14">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7">
                                    <div class="quickview_pro_des">
                                        <h4 class="title">Wooden Gift Camera</h4>
                                        <div class="top_seller_product_rating mb-15">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <h5 class="price">$120.99 <span>$130</span></h5>
                                        <p></p>
                                        <a href="#">View Full Product Details</a>
                                    </div>
                                    <!-- Add to Cart Form -->
                                    <form class="cart" method="post">
                                        <div class="quantity">
                                            <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

                                            <input type="number" class="qty-text" id="qty2" step="1" min="1" max="12" name="quantity" value="1">

                                            <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                        <a routerLink="/home">Add to cart</a>
                                        <!-- Wishlist -->
                                        <div class="modal_pro_wishlist">
                                            <a><i class="fas fa-heart"></i></a>
                                        </div>
                                        <!-- Compare -->
                                        <div class="modal_pro_compare">
                                            <a><i class="fas fa-chart-line"></i></a>
                                        </div>
                                    </form>
                                    <div class="share_wf mt-30">
                                        <p>Share With Friend</p>
                                        <div class="_icon">
                                            <a href="#"> <i class="fab fa-facebook" style="color:rgb(66,103,178);"> </i> </a>
                                            <a href="#"><i class="fab fa-twitter" style="color:rgb(29,161,242)"> </i> </a>
                                            <a href="#"> <i class="fab fa-pinterest" style="color:rgb(221, 75, 57)"> </i> </a>
                                            <a href="#"> <i class="fab fa-google-plus-square" style="color:rgb(189,8,28)"> </i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** Quick View Modal Area End ****** -->

    <section class="you_may_like_area clearfix">
        <div class="container text-center">
            <div class="section_heading text-center">
                <h2>Related Products</h2>
            </div>
            <div class="row">

                <!-- Single gallery Item -->
                <div *ngFor="let product of filteredList" class="relprd col-md-4">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="../../../assets/images/hand15.jpg" alt="hand15">
                        <div class="product-quicview">
                            <a routerLink="#" data-toggle="modal" data-target="#quickview"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="product-description">
                        <h4 class="product-price">{{product.price}}</h4>
                        <p>{{product.name}}</p>
                        <!-- Add to Cart -->
                        <a class="add-to-cart-btn" routerLink="/cart">ADD TO CART</a>
                    </div>
                </div>
                <div *ngFor="let product of filteredList" class="relprd col-md-4">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="../../../assets/images/hand15.jpg" alt="hand15">
                        <div class="product-quicview">
                            <a routerLink="#" data-toggle="modal" data-target="#quickview"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="product-description">
                        <h4 class="product-price">{{product.price}}</h4>
                        <p>{{product.name}}</p>
                        <!-- Add to Cart -->
                        <a class="add-to-cart-btn" routerLink="/cart">ADD TO CART</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>


<!-- 
    <select #selCat [(ngModel)]="selCatID" >
  <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
</select>
 -->

<p>review</p>
<!-- <select [(ngModel)]="review" >
        <option *ngFor="let re of review">{{re.rate}}</option>
      </select> -->

<div class="container text-center">
    <h3 *ngIf="countOfReviews != 0">Count Of Reviews : {{countOfReviews}}</h3>
    <h3 *ngIf="avrOfReviews != 0">avr Of Reviews : {{avrOfReviews}}</h3>

    <div *ngFor="let rev of reviewList">
        <h4>rate: {{rev.rate}}</h4>
        <h4>body: {{rev.body}}</h4>
        <h4>user: {{rev.user}}</h4>
        <hr>
    </div>
</div>


<select #preview>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>

</select>
<textarea #pcomment>write </textarea>
<button type="submit" (click)="reviewFun(pcomment.value,preview.value)">ok</button>
<button type="submit" [disabled]="">report review</button>

<br> <br>


<textarea #preport></textarea>
<button type="submit" (click)="reportproduct(preport.value)">Report</button>