<body>
    <!-- <div class="container">jjjjjjjjjjjjjjjj</div>
    <div class="container">
        <div class="formcard">
        <h2 class="headerform">welcome back</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary sign_with_google" type="button">Sign in with Google</button>

        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail"
                aria-describedby="basic-addon1">
        </div>

         <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                    class="fa fa-eye"></i></button>
        </div>


        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary sign_in" type="button">Sign in</button>

        </div> 
 
        <div class="to_login">
            <a href="#"> Forget Password?</a>
        </div>
        <hr>

        <div class="creat_account">
            <button type="button" class="btn btn-primary btn-sm creat_button">Creat New Account</button>

        </div>



    </div>
</div> -->
<div class="container">
    <div class="card formcard">
        <header class="headerform" > Welcome Back</header>

        <div class="d-grid gap-2">
            <button class="btn btn-primary sign_with_google" type="button">Sign in with Google</button>
          </div>




          

         

          <div class="row or_div">
            <div class="col-md-4 col-sm-6 col-xs-4">
                <hr>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-8">
                <h3 class="or">or</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4">
                <hr>
            </div>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
          </div>
    
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-eye"></i></button>
          </div>

          <!-- <div class="input-group mb-3">
            <input id="password-field" type="password" class="form-control" name="password" placeholder="Password">
            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            

            </div> -->

          

          

          <button type="button" class="btn btn-primary btn-sm sign_in">Sign In</button>

          <div class="to_login">
               <a href="#"> Forget Password?</a>
          </div>
          <hr>

          <div class="creat_account">
            <button type="button" class="btn btn-primary btn-sm creat_button">Creat New Account</button>

        </div>


        



        <!--ff-->
        
         
        

        
      </div>
</div>

<div class="ff" style="clear: both;"></div>

</body>
