                <div class="container">
                  <h1 mat-dialog-title>Report Form</h1>
                    <div mat-dialog-content>
                        <textarea placeholder="Write reasons for reporting this product"></textarea>
                    </div>
                    <div mat-dialog-actions>
                    <button mat-button mat-dialog-close>Close</button>
                    <button type="submit" mat-button >Send</button>
                    </div>
                </div>