<p>poduct-details-popup works!</p>
<!-- <div *ngFor="let product of getProductsByCatID()" class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig mb-4" data-wow-delay="0.2s" data-aos="fade-up" data-aos-duration="1300"> -->
    <!-- Product Image -->
    <div class="product-img">
        <!-- <img src="../../../assets/images/hand18.jpg " style="width: 150px; height:150px;" alt="hand18"> -->
        <!-- <div class="product-quicview">
            <a data-toggle="modal" data-target="#quickview"><i class="far fa-plus"></i></a>
        </div> -->
    <!-- </div> -->
    <!-- Product Description -->
    <!-- <div class="product-description">
        <h4 class="product-price">{{product.price}}</h4>
        <p>{{product.name}}</p> -->
        <!-- Add to Cart -->
        <!-- <a routerLink="#" class="add-to-cart-btn">ADD TO CART</a> -->
    <!-- </div>
</div> -->


<table class="table">
    <thead  appHighlight>
      <th>No.</th>
      <th>Name</th>
      <th>Price</th>
    </thead>
     <tbody>
      <tr *ngFor="let prd of getProductsByCatID();let i=index">
          <td>{{i+1}}</td>
          <td>{{prd.name}}</td>
          <td>{{prd.price}}</td>
      </tr>
     </tbody>
   </table>
  
