<br>
<div class="container">
    <div class="row">
        <div class=" col-md-6 p-4 main">
            <div class="cart-page-heading mb-3 text-center">
                <br>
                <h5 style="font-size:30px;">ADD PRODUCT</h5>
            </div>
            <form method="post" #myForm="ngForm" (ngSubmit)="addNewProduct()" ngNativeValidate>
                <div class="row">
                    <div class="col-md-12 mb-4 ">
                        <label for="Name">Product Name <span>*</span></label>
                        <input #pname [(ngModel)]="newproduct.name" type="text" pattern="(^[a-zA-Z]{5,15})" class="form-control" name="Name" id="Name" value="" #NameField="ngModel" required minlength="5" maxlength="15" [class.is-valid]="NameField.valid" [class.is-invaild]="NameField.invalid && NameField.touched">
                        <div class="alert alert-danger mt-2 p-3" *ngIf="NameField.invalid && NameField.touched">
                            <div *ngIf="NameField.hasError('required')">Product Name Is Required</div>
                            <div *ngIf="NameField.hasError('pattern')">Product Name Must be Characters and not less than 5</div>
                            <!-- <div *ngIf="NameField.hasError('minlength')">Product Name must be 5 letters At least </div> -->
                            <div *ngIf="NameField.hasError('maxlength')">Product Name must be 15 Characters or less</div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <label for="last_name">Price <span>*</span></label>
                        <input #pprice [(ngModel)]="newproduct.price" type="number" id="number" class="form-control" min="0" name="price" value="" pattern="[1-9]{1,3}" #priceField="ngModel" [class.is-valid]="priceField.valid" [class.is-invaild]="priceField.invalid && priceField.touched"
                            required>
                        <div class="alert alert-danger mt-2 p-3" *ngIf="priceField.invalid && priceField.touched">
                            <div *ngIf="priceField.hasError('required')">Price Is Required</div>
                            <div *ngIf="!priceField.hasError('min')">Price Must not equal zero </div>
                            <!-- <div *ngIf="priceField.hasError('max')">Price must be 3 numbers only </div>  -->
                            <div *ngIf="priceField.hasError('pattern')">Price Must Be Number & not exceed 3 numbers</div>
                            <!-- pattern="^[1-9]{1,3}[0-9]*"  start without zero -->
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="form-group">
                            <label for="comment">Details</label>
                            <textarea #pdetails [(ngModel)]="newproduct.details" class="form-control" name="details" rows="5" id="comment" style="resize: none;" #detailsField="ngModel" minlength="5" maxlength="250" required pattern="(^[a-zA-Z]{5,250})" [class.is-valid]="detailsField.valid"
                                [class.is-invaild]="detailsField.invalid && detailsField.touched"></textarea>
                            <div class="alert alert-danger mt-2 p-3" *ngIf="detailsField.invalid && detailsField.touched">
                                <div *ngIf="detailsField.hasError('required')">Product Details Is Required</div>
                                <div *ngIf="detailsField.hasError('pattern')">Product Details Must be Characters and not less than 5</div>
                                <!-- <div *ngIf="NameField.hasError('minlength')">Product Name must be 5 letters At least </div> -->
                                <div *ngIf="detailsField.hasError('maxlength')">Product Details must not exceed 250 Characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <label for="image">Image <span>*</span></label>
                        <input #pimages type="file" name="img" multiple min="3" required (change)="changeImageInput($event)" class="form-control" id="customFile" />
                    </div>
                    <!-- <div *ngIf="edit == false"  class="col-12 mb-4">
                                <ul *ngFor="let img of images">
                                    <li style="display: inline;">
                                        <img src="{{img}}" alt="" width="100" height="100"><i class="far fa-trash-alt" (click)="delimg(img.id)"></i>
                                    </li>
                                </ul>
                            </div> -->

                    <div *ngIf="edit == true" class="col-12 mb-4">
                        <ul *ngFor="let img of newproduct.images">
                            <li style="display: inline;">
                                <img src="{{img.image}}" alt="" width="100" height="100"><i class="far fa-trash-alt" (click)="delimg(img.id)"></i>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 mb-4">
                        <div class="form-group row">
                            <label for="example-number-input" class="col-2 col-form-label">Age From<span>*</span></label>
                            <input #pagefrom [(ngModel)]="newproduct.age_from" class="form-control" name="agefrom" type="number" id="example-date-input" required min="0" pattern="[1-9]{1,2}" #ageFromField="ngModel" [class.is-valid]="ageFromField.valid" [class.is-invaild]="ageFromField.invalid && ageFromField.touched">
                            <div class="alert alert-danger mt-2 p-3" *ngIf="ageFromField.invalid && ageFromField.touched">
                                <div *ngIf="ageFromField.hasError('required')">Age Is Required</div>
                                <div *ngIf="!ageFromField.hasError('min')">Age Must not equal zero </div>
                                <!-- <div *ngIf="priceField.hasError('max')">Price must be 5 numbers only </div> -->
                                <div *ngIf="ageFromField.hasError('pattern')">Price Must Be Number & not exceed 2 numbers</div>
                                <!-- pattern="^[1-9]{1,3}[0-9]*"  start without zero -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="form-group row">
                            <label for="example-number-input" class="col-2 col-form-label">Age To<span>*</span></label>
                            <input #pageto [(ngModel)]="newproduct.age_to" class="form-control" name="ageto" type="number" id="example-date-input" min="0" pattern="([1-9]{1,2})" #ageToField="ngModel" [class.is-valid]="ageToField.valid" [class.is-invaild]="ageToField.invalid && ageToField.touched"
                                required>
                            <div class="alert alert-danger mt-2 p-3" *ngIf="ageToField.invalid && ageToField.touched">
                                <div *ngIf="ageToField.hasError('required')">Age Is Required</div>
                                <div *ngIf="!ageToField.hasError('min')">Age Must not equal zero </div>
                                <!-- <div *ngIf="priceField.hasError('max')">Price must be 5 numbers only </div>  -->
                                <div *ngIf="ageToField.hasError('pattern')">Price Must Be Number & not exceed 2 numbers</div>
                                <!-- pattern="^[1-9]{1,3}[0-9]*"  start without zero -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="form-group">
                            <label for="occassion">Occassion<span>*</span></label>
                            <select multiple #poccassions [(ngModel)]="newproduct.occassions" [ngModelOptions]="{standalone: true}" class="form-control" id="occassion" required>                                       
                                      <option *ngFor="let occ of occassions" [value]="occ.id" >{{occ.name}}</option>
                                    </select>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="form-group">
                            <label for="gender">gender<span>*</span></label>
                            <select #pgender [(ngModel)]="newproduct.gender" [ngModelOptions]="{standalone: true}" class="form-control" id="gender" required>
                                      <option [Value]="m" value="m">male</option>
                                      <option [Value]="f" value="f">female</option>
                                      <option [Value]="b" value="b">both</option>
                                    </select>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="form-group">
                            <label for="relationship">Relationship <span>*</span></label>
                            <select #prelationship multiple [(ngModel)]="newproduct.relationships" [ngModelOptions]="{standalone: true}" class="form-control" id="relationship" required>
                                        <option *ngFor="let rel of relationships" [value]="rel.id" >{{rel.name}}</option>
                                      </select>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="form-group">
                            <label for="Category">Categories <span>*</span></label>
                            <select #pcategory [(ngModel)]="newproduct.category" [ngModelOptions]="{standalone: true}" class="form-control" id="Category" required>
                                        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.title}}</option>
                                    </select>
                        </div>
                    </div>
                    <!-- <h1>{{newproduct.relationships}}</h1> -->

                    <button *ngIf="edit == false" (click)="addNewProduct()" class="btn karl-checkout" [disabled]="myForm.invalid">ADD</button><br><br>
                    <button *ngIf="edit == false" class="btn karl-checkout" (click)="myForm.resetForm({})">Reset</button>

                    <div class="submitted-message" *ngIf="myForm.submitted">
                        <p> Congratulation You've Successfully submitted your Product => {{ myForm.value.Name }}!</p>
                    </div>
                    <!-- <button  (click)="addNewProduct()" class="btn btn-primary">ADD</button><br><br> -->
                    <button *ngIf="edit == true" (click)="editProduct()" class="btn karl-checkout">Edit</button><br><br>
                    <button *ngIf="edit == true" (click)="cancel()" class="btn karl-checkout">Cancel</button><br><br>
                </div>
            </form>
        </div>
        <div class="col-md-1 sub"></div>
        <div class="col-md-5 rules p-3">
            <h4 style="text-align:center;">PLEASE CARFULLY! READ THIS NOTES BEFORE YOU ADD YOUR PRODUCT</h4><br>
            <hr>
            <hr>
            <hr><br>
            <ol>
                <li>Product Name :
                    <ul>
                        <li> Must Be at least 5 Characters </li>
                        <li> Must Not EXCEED 15 Characters </li>
                        <li>Must Not contain Numbers </li>
                    </ul>
                </li><br>
                <hr>
                <hr>
                <hr><br>
                <li> Price :
                    <ul>
                        <li> Must Be Numbers Only </li>
                        <li> Must Not Equal ZERO </li>
                        <li>Must Not EXCEED 2 Numbers </li>
                    </ul>
                </li><br>
                <hr>
                <hr>
                <hr><br>
                <li> Details :
                    <ul>
                        <li> Must Be at least 5 Characters </li>
                        <li> Must Not EXCEED 250 Characters</li>
                        <li>Must contain Characters only </li>
                    </ul>
                </li><br>
                <hr>
                <hr>
                <hr><br>
                <li> Images :
                    <ul>
                        <li> Must Be at least 3 Images </li>
                    </ul>
                </li><br>
                <hr>
                <hr>
                <hr><br>
                <li> Age From :
                    <ul>
                        <li> Must Be Numbers Only </li>
                        <li> Must Not Equal ZERO </li>
                        <li>Must Not EXCEED 2 Numbers </li>
                    </ul>
                </li><br>
                <hr>
                <hr>
                <hr><br>
                <li> Age To :
                    <ul>
                        <li> Must Be Numbers Only </li>
                        <li> Must Not Equal ZERO </li>
                        <li>Must Not EXCEED 2 Numbers </li>
                    </ul>
                </li>
            </ol><br>
            <hr>
            <hr>
            <hr><br>
            <div style="font-size:20px;"> PLEASE MAKE SURE TO SELECT OCCASION , GENDER , RELATIONSHIP , CATEGORIES FROM THE AVAILABLE CHOICES<br><br> PLEASE NOTE YOU CAN SELECT MULTIPLE RELATIONSHIP FOR PRODUCT</div>
        </div>
    </div>
</div>
<br>

<!-- (click)="addNewProduct(pname,pprice,pdetails,pimages)" -->
<!-- pname,pprice,pdetails,pagefrom,pageto,poccassions , pgender , prelationship ,pcategory  -->




