@import '../../../main.css';
.container {
    margin: auto;
    padding: auto;
    width: 100%;
}
.main{
    margin-left:-40px;
}
.sub{
    margin-right:40px;
}
 form label {
    font-size: 16px;
    font-weight:600;
}

 form label span {
    color: #ff084e;
}
form input{
    height:40px;
    font-size:20px;
}


.karl-checkout {
    background-color: rgb(210, 57, 59);
    display: block;
    height: 55px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 49px;
}

.karl-checkout:hover,
.karl-checkout:focus {
    font-weight: 700;
    color: #fff;
    background-color: rgb(37, 42, 51);
    border-color: rgb(37, 42, 51);
}

 .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .alert{
      font-size:15px;
      display:block;
  }

  .rules{
      border:5px double black;
      font-weight:600;
      margin: auto;
  }

  button:disabled {
    background-color: rgb(230, 225, 225);
    color: rgb(97, 93, 93);
    cursor: auto;
  }