<br>
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="checkout_details_area  clearfix">

                    <div class="cart-page-heading mb-3 text-center">
                        <br><h5 style="font-size:30px;">ADD PRODUCT</h5>
                    </div>

                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-12 mb-2 pr-4">
                                <label for="name"> Name <span>*</span></label>
                                <input type="text" class="form-control" id="first_name" value="" required>
                            </div>
                            <div class="col-md-12 mb-2">
                                <label for="last_name">Price <span>*</span></label>
                                <input type="text" class="form-control" id="last_name" value="" required>
                            </div>

                            <div class="col-12 mb-2">
                                <label for="details">Details <span>*</span></label>
                                <textarea type="textarea" class="form-control" id="country" value=""></textarea>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="image">Image <span>*</span></label>
                                <label class="form-label" for="customFile">Default file input example</label>
                                <input type="file" class="form-control" id="customFile" />
                            </div>
                            <div class="col-12 mb-2">
                                <label for="agefrom">Age From <span>*</span></label>
                                <input type="text" class="form-control" id="postcode" value="" required>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="agefrom">Age To <span>*</span></label>
                                <input type="text" class="form-control" id="postcode" value="" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="occasions">Occasions <span>*</span></label>
                                <input type="text" class="form-control" id="city" value="" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="relationships">Relationships <span>*</span></label>
                                <input type="text" class="form-control" id="state" value="" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="time of creation"> Time Of Creation <span>*</span></label>
                                <input type="number" class="form-control" id="phone_number" min="0" value="" required>
                            </div>
                            <div class="col-12 mb-4">
                                <label for="updation time">Updation time <span>*</span></label>
                                <input type="email" class="form-control" id="email_address" value="" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
