<br>


<div *ngIf="cart.length == 0" class="emptycart text-center mt-5">
    <img src="../../../assets/images/emptycart.jpg" alt="empty cart">
    <h6>Ooops! No items in cart. Keep shopping with us and grab exciting offers.!</h6>
    <a class="btn btn-danger m-2 p-2" routerLink="/search" style="color:white;">Continue Shopping</a>
</div>

<div *ngIf="cart.length > 0" class="cart_area section_padding_100 clearfix" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <!-- <thead> -->
                        <tr>
                            <th style="width: 10%;">NO</th>
                            <th style="width: 10%;">Product Image</th>
                            <th style="width: 30%;">Product Name</th>
                            <th style="width: 10%;">Price</th>
                            <th style="width: 10%;">Quantity</th>
                            <th style="width: 20%;">Total</th>
                            <th style="width: 10%;">Delete</th>
                        </tr>
                        <tr *ngFor="let product of cart; let i=index">
                            <td>{{i+1}}</td>
                            <td>
                                <a *ngIf="product.productDetails.images[0]"><img src="{{product.productDetails.images[0].image}}" alt="Product"></a>
                            </td>
                            <td class="cart_product_img d-flex align-items-center">
                                <h6>{{product.productDetails.name}}</h6>
                            </td>
                            <td class="price"><span>{{product.productDetails.price}}</span></td>
                            <td class="qty">
                                <div class="quantity">
                                    <!-- <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span> -->
                                    <input (change)="changeQntty(product.productDetails.id , product.productDetails.price , pquantity.value , i)" #pquantity type="number" class="qty-text" id="qty" step="1" min="0" max="99" name="quantity" value="{{product.quantity}}">
                                    <!-- <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span> -->

                                </div>
                            </td>
                            <td class="total_price"><span>{{total[i]}}</span></td>
                            <td><a (click)="removeitem(product.productDetails.id)"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    </table>
                </div>

                <div class="cart-footer d-flex mt-30">
                    <div class="back-to-shop w-50">
                        <a routerLink="/search">Continue shooping</a>
                    </div>
                    <div class="back-to-shop w-50 text-right">
                        <a (click)="emptyCart()">clear cart</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <!-- <div class="col-12 col-md-6 col-lg-4 col-sm-4">
                <div class="coupon-code-area mt-70">
                    <div class="cart-page-heading">
                        <h5>Coupon code</h5><br>
                        <p>Enter your Coupon code</p>
                    </div>
                    <form action="#">
                        <input type="search" name="search" placeholder="#945bd45">
                        <button disabled>Check</button>
                    </form>
                </div>
            </div> -->

            <div class="col-12 col-lg-4 col-sm-8 cart_total">
                <div class="cart-total-area mt-70">
                    <div class="cart-page-heading">
                        <h5>Cart total</h5><br>
                    </div>
                    <ul class="cart-total-chart">
                        <li><span>Shipping</span> <span>Free</span></li>
                        <li><span><strong>Total</strong></span> <span><strong>{{totalPrice}}</strong></span></li>
                    </ul>
                    <button (click)="toCheckout()" routerLink="/checkout" class="btn karl-checkout-btn">Proceed to checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>